<!DOCTYPE html>
<html lang="en-US">

<head>

  <meta charset="UTF-8">
  <title>Images</title>
  <link rel="stylesheet" type="text/css" href="../styles/main-stylesheet.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../images/favicon.png" type="image/png" sizes="32x32">
  <script src="../js/change-to-print-style.js"></script>


  <script src="../js/slideshow.js"></script>

</head>

<body>

  <div class="logo-header">

    <img src="../images/logo_small.png" alt="http://s01.riotpixels.net/data/a8/2f/a82feb76-4eaa-4b01-a4e2-bcd476632d26.png/artwork.heroes-of-might-and-magic-3-hd-edition.1667x730.2014-12-09.13.png" class="logo-pic"> </div>

  <ul>
    <li><a href="../content-pages/index.html">Home</a></li>
    <li><a href="../content-pages/factions.html">Factions</a></li>
    <li><a href="../content-pages/images.html">Images</a></li>
    <li><a href="../content-pages/video.html">Video</a></li>
    <li><a href="../content-pages/form.html">Feedback</a></li>
    <li><a href="../assignment-pages/site-map.html">Site Map</a></li>
    <li class="theme_button"><a href="#close" onclick="changeStyle();">Theme</a></li>
  </ul>

  <div class="container1">

    <br>

    <!-- A container for the CSS/JS slideshow.-->
    <div class="slideshow-container">

      <!-- The images inside of the slideshow.-->
      <div class="mySlides">
        <img src="../images/images_page/castle_town.png" style="width:100%" alt="Castle Town">
        <div class="text">Castle Town</div>
      </div>

      <div class="mySlides">
        <img src="../images/images_page/inferno_town.png" style="width:100%" alt="Inferno Town">
        <div class="text">Inferno Town</div>
      </div>

      <div class="mySlides">
        <img src="../images/images_page/necropolis_town.png" style="width:100%" alt="Necropolis Town">
        <div class="text">Necropolis Town</div>
      </div>

      <div class="mySlides">
        <img src="../images/images_page/tower_town.png" style="width:100%" alt="Tower Town">
        <div class="text">Tower Town</div>
      </div>

      <div class="mySlides">
        <img src="../images/images_page/fortress_town.png" style="width:100%" alt="Fortress Town">
        <div class="text">Fortress Town</div>
      </div>


      <div class="mySlides">
        <img src="../images/images_page/rampart_town.png" style="width:100%" alt="Rampart Town">
        <div class="text">Rampart Town</div>
      </div>

      <div class="mySlides">
        <img src="../images/images_page/stronghold_town.png" style="width:100%" alt="Stronghold Town">
        <div class="text">Stronghold Town</div>
      </div>

      <div class="mySlides">
        <img src="../images/images_page/dungeon_town.png" style="width:100%" alt="Dungeon Town">
        <div class="text">Dungeon Town</div>
      </div>

      <div class="mySlides">
        <img src="../images/images_page/image3.png" style="width:100%" alt="Fortress Battle">
        <div class="text">Fortress Battle</div>
      </div>

      <div class="mySlides">
        <img src="../images/images_page/image4.png" style="width:100%" alt="Desert Battle">
        <div class="text">Desert Battle</div>
      </div>

      <div class="mySlides">
        <img src="../images/images_page/image6.png" style="width:100%" alt="Necropolis Recruitment Screen">
        <div class="text">Necropolis Recruitment Screen</div>
      </div>

      <!-- Next and previous buttons -->
      <a class="previous" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="loadCurrentSlide(1)"></span>
      <span class="dot" onclick="loadCurrentSlide(2)"></span>
      <span class="dot" onclick="loadCurrentSlide(3)"></span>
      <span class="dot" onclick="loadCurrentSlide(4)"></span>
      <span class="dot" onclick="loadCurrentSlide(5)"></span>
      <span class="dot" onclick="loadCurrentSlide(6)"></span>
      <span class="dot" onclick="loadCurrentSlide(7)"></span>
      <span class="dot" onclick="loadCurrentSlide(8)"></span>
      <span class="dot" onclick="loadCurrentSlide(9)"></span>
      <span class="dot" onclick="loadCurrentSlide(10)"></span>
      <span class="dot" onclick="loadCurrentSlide(11)"></span>
    </div>

  </div>

  <footer>Created by Jordan McDonald | 2019</footer>

  <!--This little script loads the first image of the slideshow automatically.-->
  <script>
    showSlides(currentSlide);
  </script>

</body>

</html>
